body {
    background-image: linear-gradient(rgb(190, 179, 156), midnightblue);
    background-repeat: no-repeat;
    height: 100vh;
    cursor: crosshair;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* vvv Auto Plays */

.tex1, .tex2 {
  color: aliceblue;
  font-weight: 600;
  font-size: xx-large;
}

#moon-svg {
  width: 600px;
  height: 600px;
}

#moon-path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 2s ease-in-out infinite alternate;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  /* #moon-path:hover {
    fill: aliceblue;
  } */
/* 
  .moonstx {
    font-size: larger;
    color: azure;
  }

  .moonstx:hover {
    cursor: cell;
    text-decoration: underline;
  } */

/* 
  .moonstx:p

#sun-path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 4s linear forwards;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  #sun-path:hover {
    fill: rgb(47, 13, 0);
  }

  .sunstx {
    color: bisque;
  } */